pom.xml
profiles.clj
.nrepl-port
repl-port
.lein-env
env-vars.edn
npm-debug.log
.DS_Store
*jar
*pom.properties
ansible/
cms/target/
pdfparse/target/
/test/
/doc/
/maxmind/
/lib/
/classes/
/out/
/target/
/ansible/
*node_modules*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
tmp.txt
error.txt
elm-stuff
*psycopg*
*pyc
deploy.zip
.#Db.hs
**/bower_components/
**/.psci_modules/
**/.pulp-cache/
**/output/
