@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/* general */
body {
  height: 100%;
  color: #444;
  font-family: "Lato", Arial, sans-serif;
  background-color: #444;
}

html {
  height: 100%;
}

.container {
  background-image: url('45-degree-fabric-light.png');
  max-width: 550px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
  height: 100vh;
  overflow-y: scroll;
}

.main-view {
  margin-top: 20px;
}

.card {
  border-left: 3px solid orange;

  .card-title, h4  {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
  }
}

input {
  outline: 0;
}

button {
  position: relative;
}
