.create-id-page .card {
  background: rgba(0,0,0,0.6);
  margin-bottom: 10px;
  font-size: 10px;
  background: rgba(255,255,255,0.1);
  padding-left: 0;

  .card-header {
    background: rgba(0,0,0,0.1);
    padding: 10px 0 0 20px;
  }

  .card-header h4{
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
  }

  input[type=text] {
    width: 100%;
    border: 1px solid white;
    margin: 0;
    border-radius: 5px;
    padding: 8px;
    background: rgba(255,255,255,0.1);
  }

  .btn {
    margin-top: 10px;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    width: 100%;
    font-size: 12px;
  }

}
