
/* loading overlays */
#metamaskOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &.in-active {
    display: none;
  }

  h6 {
    font-weight: 100;
    width: 100%;
  }

  button {
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: #aaa;
      transform: rotate(60deg);
    }

    &:focus {
      border: none;
    }
  }
}

#loadingOverlay {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: white;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    h6 {
      font-weight: 100;
    }

    .loading-spinner {
      transform: translateY(-0.2em) translateX(-2em);
    }

    &.in-active {
      display: none;
    }
}

.container.loading {
  #body, .header-menu {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}

.container.require-login {
  .page-container,
  .top-bar,
  .header-menu,
  .create-debt-bar,
  .add-friend-bar {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
}

#debtLoadingOverlay {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 2000px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 99;
}

.loading-spinner {
    color: #f00;
    animation: color-bubble 2s linear 0s infinite;

    &:after, &:before {
      content: '';
      position: absolute;
      left: 0;right: 0;top: 0;bottom: 0;
      border-radius: 100%;
      box-shadow: 0 0 0 3px;
      animation: spinner-bubble 1.3s linear 0s infinite;
      margin: auto;
      width: 0.3em;
      height: 0.3em;
      opacity: 0;
    }
    &:before{
      animation: spinner-bubble 1.3s linear 2s infinite;
    }
}


@keyframes color-bubble {
  0%{color: #fff;}
  33%{color: red;}
  66%{color: orange;}
  100%{color: #FEB825;}
}

@keyframes spinner-bubble {
  from{
    width: 0.3em;
    height: 0.3em;
    opacity: .8;
  }
  to{
     width: 1.5em;
     height: 1.5em;
    opacity: 0;
  }
}

@keyframes color-change {
  0%{background: #fff;}
  33%{background: #50B949;}
  66%{background: #EE2D24;}
  100%{background: #FEB825;}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
