$routes: (
  OverviewScreen: overview-screen,
  ManageAddressesScreen: manage-addresses-screen,
  AddAddressScreen: add-address-screen,
  RegisterScreen: register-screen,
  ExtendIDScreen: extend-id-screen,
  FundIDScreen: fund-id-screen
);

@each $route, $name in $routes {
  .#{$name}-container {
    transition: all 0.5s;
    transform: translateX(0);
  }
}

// generates the hide/show rules for each page. assumes that when one page is active, no other page is.
@each $route, $name in $routes {
  .show-#{$name} {
    @each $_route, $_name in $routes {
      .header-menu { //don't show the menu in child pages
        transform: translateX(-100vw);
      }

      .#{$_name}-container {
        transform: translateX(-3000px); height: 0; margin: 0; padding: 0;
      }

      .#{$name}-container {
        transform: none; height: auto; 
      }

      .logo-section {
        margin-left: -25em;
      }
    }
  }
}

.show-overview-screen {
  // don't show back section on main pages
    .go-back-section {
      margin-left: -34em;
    }

    .logo-section {
      margin-left: 0;
    }

    .header-menu {
      transform: none;
    }
}
