@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .overview-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .manage-addresses-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .add-address-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .register-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .extend-id-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: none; }

.show-overview-screen .back-nav-bar {
  display: block; }

.show-overview-screen .fund-id-screen-container {
  display: none; }

.show-overview-screen .overview-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .overview-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .add-address-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .register-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .extend-id-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-manage-addresses-screen .header-menu, .show-manage-addresses-screen .home-bar {
  display: none; }

.show-manage-addresses-screen .back-nav-bar {
  display: block; }

.show-manage-addresses-screen .fund-id-screen-container {
  display: none; }

.show-manage-addresses-screen .manage-addresses-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .overview-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .manage-addresses-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .add-address-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .register-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .extend-id-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-add-address-screen .header-menu, .show-add-address-screen .home-bar {
  display: none; }

.show-add-address-screen .back-nav-bar {
  display: block; }

.show-add-address-screen .fund-id-screen-container {
  display: none; }

.show-add-address-screen .add-address-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .overview-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .manage-addresses-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .add-address-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .register-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .extend-id-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-register-screen .header-menu, .show-register-screen .home-bar {
  display: none; }

.show-register-screen .back-nav-bar {
  display: block; }

.show-register-screen .fund-id-screen-container {
  display: none; }

.show-register-screen .register-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .overview-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .manage-addresses-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .add-address-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .register-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .extend-id-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-extend-id-screen .header-menu, .show-extend-id-screen .home-bar {
  display: none; }

.show-extend-id-screen .back-nav-bar {
  display: block; }

.show-extend-id-screen .fund-id-screen-container {
  display: none; }

.show-extend-id-screen .extend-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .overview-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .manage-addresses-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .add-address-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .register-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .extend-id-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-fund-id-screen .header-menu, .show-fund-id-screen .home-bar {
  display: none; }

.show-fund-id-screen .back-nav-bar {
  display: block; }

.show-fund-id-screen .fund-id-screen-container {
  display: none; }

.show-fund-id-screen .fund-id-screen-container {
  display: block; }

.show-overview-screen .header-menu, .show-overview-screen .home-bar {
  display: block; }

.show-overview-screen .back-nav-bar {
  display: none; }

.back-nav-bar, .home-bar {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; }

.home-bar {
  font-weight: 100;
  background: #333;
  text-transform: uppercase; }

.back-nav-bar:hover {
  background: rgba(0, 0, 0, 0.6); }

.close-pop-button {
  color: white;
  width: 100%;
  padding: 10px; }
  .close-pop-button:focus, .close-pop-button:hover {
    color: white;
    text-decoration: none; }

.header-menu .row {
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  color: white;
  font-weight: 100; }
  .header-menu .row:hover, .header-menu .row:focus {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none; }
  .header-menu .row.active {
    padding-left: 10px; }

.myid-summary .card {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-size: 10px; }
  .myid-summary .card .card-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 20px; }
  .myid-summary .card .card-header h4 {
    font-size: 12px;
    font-weight: 100; }

.address-list .card {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-size: 10px; }
  .address-list .card .card-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 20px; }
  .address-list .card .card-header h4 {
    font-size: 12px;
    font-weight: 100; }
  .address-list .card:first-child {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 0; }
    .address-list .card:first-child .card-block {
      padding: 0; }

.confirm-address-button, .confirm-unification-button {
  color: black;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: none;
  border: none;
  padding: 10px; }

.confirm-unification-button {
  color: white;
  background: rgba(255, 255, 255, 0.1); }

.add-address-page .card {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding-left: 0; }
  .add-address-page .card .card-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 20px; }
  .add-address-page .card .card-header h4 {
    font-size: 16px;
    font-weight: 300;
    color: black; }
  .add-address-page .card input[type=text] {
    width: 100%;
    border: 1px solid white;
    margin: 0;
    border-radius: 5px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1); }
  .add-address-page .card .btn {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    width: 100%; }

.extend-id-page .card {
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  font-size: 10px; }
  .extend-id-page .card .card-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 20px; }
  .extend-id-page .card .card-header h4 {
    font-size: 16px;
    font-weight: 300;
    color: white; }
  .extend-id-page .card input[type=text] {
    width: 100%;
    border: 1px solid white;
    margin: 0;
    border-radius: 5px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1); }
  .extend-id-page .card .btn {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ddd;
    width: 100%; }

/* general */
body {
  background-image: linear-gradient(-180deg, #FBDA61 0%, #002968 100%);
  height: 100%;
  color: white;
  font-family: "Lato", Arial, sans-serif;
  background-color: #a20846; }

html {
  height: 100%; }

/* loading overlays */
#metamaskOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 100; }

#loadingOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 99; }

#debtLoadingOverlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 2000px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 99; }

.active {
  display: visible; }

.inActive {
  display: none; }

.main-view {
  margin-top: 20px; }
